In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastbook import *
from fastai.imports import *
from fastai.tabular.all import *
import os

In [3]:
path = Path(os.path.expandvars("${HOME}/.fastai/data/titanic"))
path.ls()

(#4) [Path('/home/jmd/.fastai/data/titanic/gender_submission.csv'),Path('/home/jmd/.fastai/data/titanic/titanic.zip'),Path('/home/jmd/.fastai/data/titanic/train.csv'),Path('/home/jmd/.fastai/data/titanic/test.csv')]

In [4]:
df = pd.read_csv(f"{path}/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Explore Pandas

In [17]:
df.iloc[:,0] # Show all ids

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [18]:
df.iloc[0,:]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [19]:
df.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

## Data Setup

In [25]:
def create_vars():
    cat_names  = ['Pclass', 'Name', 'Sex','Parch', 
                  'Ticket', 'Cabin', 'Embarked']
    cont_names = ['PassengerId', 'Age', 'Fare', 'SibSp']
    procs = [Categorify, FillMissing, Normalize]
    return cat_names, cont_names, procs

In [26]:
cat_names, cont_names, procs = create_vars()

In [27]:
dls = TabularDataLoaders.from_df(
    df, path, procs=procs, 
    cat_names=cat_names, cont_names=cont_names,
    y_names="Survived", y_block=CategoryBlock, bs=64)

In [28]:
dls.show_batch()

## Model Setup

In [29]:
learn = tabular_learner(dls, metris=)

In [30]:
learn.fit_one_cycle(1)

In [31]:
learn.fit(5, lr=1e-3)

## Data Setup with Tabular Pandas

In [12]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [13]:
cat_names, cont_names, procs = create_vars()
to = TabularPandas(df, procs=procs,
                   cat_names = cat_names,
                   cont_names = cont_names,
                   y_names='Survived',
                   y_block = CategoryBlock,
                   splits=splits)

In [14]:
to.xs.iloc[:2]

,Pclass,Name,Sex,SibSp,Parch,Ticket,Cabin,Embarked,Age_na,PassengerId,Age,Fare
243,3,501,2,1,1,659,0,3,1,-0.789902,-0.601913,-0.517923
476,2,677,2,2,1,253,0,3,1,0.112259,0.308244,-0.232166

In [15]:
dls = to.dataloaders(bs=64)

In [16]:
dls.show_batch()

In [17]:
learn = tabular_learner(dls, metrics=accuracy)

In [18]:
learn.fit_one_cycle(1)

In [19]:
learn.show_results()

In [20]:
row, clas, probs = learn.predict(df.iloc[0])

In [21]:
row.show()

In [22]:
clas, probs

(tensor(0), tensor([0.5276, 0.4724]))

In [23]:
test_df = df.copy()
test_df.drop(['Survived'], axis=1, inplace=True)
dl = learn.dls.test_dl(test_df)

In [24]:
learn.get_preds(dl=dl)

(tensor([[0.5276, 0.4724],
         [0.5342, 0.4658],
         [0.5293, 0.4707],
         ...,
         [0.5302, 0.4698],
         [0.5285, 0.4715],
         [0.5326, 0.4674]]),
 None)