In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastbook import *
from fastai.imports import *
from fastai.tabular.all import *
import os

In [3]:
path = Path(os.path.expandvars("${HOME}/.fastai/data/titanic"))
path.ls()

(#4) [Path('/home/jmd/.fastai/data/titanic/gender_submission.csv'),Path('/home/jmd/.fastai/data/titanic/titanic.zip'),Path('/home/jmd/.fastai/data/titanic/train.csv'),Path('/home/jmd/.fastai/data/titanic/test.csv')]

In [4]:
df = pd.read_csv(f"{path}/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Explore Pandas

In [28]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [30]:
df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])

In [51]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"van Melkebeke, Mr. Philemon",male,NaN,NaN,NaN,CA. 2343,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [17]:
df.iloc[:,0] # Show all ids

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [18]:
df.iloc[0,:]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [19]:
df.iloc[0]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

## Data Setup

## Metric
The metric is the percentage of passengers you correctly predict (i.e accuracy).

In [29]:
def create_vars():
    cat_names = ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
    cont_names = ['PassengerId', 'Age', 'Fare', 'SibSp', 'Parch', 'Pclass']
    procs = [Categorify, FillMissing, Normalize]
    return cat_names, cont_names, procs

In [30]:
cat_names, cont_names, procs = create_vars()

In [31]:
cat_names

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [32]:
cont_names

['PassengerId', 'Age', 'Fare', 'SibSp', 'Parch', 'Pclass']

In [33]:
dls = TabularDataLoaders.from_df(
    df, path, procs=procs, 
    cat_names=cat_names, cont_names=cont_names,
    y_names="Survived", y_block=CategoryBlock, bs=64)

In [34]:
dls.show_batch()

## Model Setup

In [35]:
learn = tabular_learner(dls, metrics=accuracy)

In [ ]:
learn.fit_one_cycle(5, 1e-3)

## Data Setup with Tabular Pandas

In [12]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [13]:
cat_names, cont_names, procs = create_vars()
to = TabularPandas(df, procs=procs,
                   cat_names = cat_names,
                   cont_names = cont_names,
                   y_names='Survived',
                   y_block = CategoryBlock,
                   splits=splits)

In [14]:
to.xs.iloc[:2]

,Pclass,Name,Sex,Parch,Ticket,Cabin,Embarked,Age_na,PassengerId,Age,Fare,SibSp
625,1,795,2,1,456,111,3,1,0.677148,2.456101,0.009297,-0.463553
777,3,240,1,1,433,0,3,1,1.263964,-1.868677,-0.402414,-0.463553

In [15]:
dls = to.dataloaders(bs=64)

In [16]:
dls.show_batch()

In [17]:
learn = tabular_learner(dls, metrics=accuracy)

In [18]:
learn.fit_one_cycle(1)

In [19]:
learn.show_results()

In [20]:
row, clas, probs = learn.predict(df.iloc[0])

In [21]:
row.show()

In [22]:
clas, probs

(tensor(1), tensor([0.4866, 0.5134]))

In [23]:
test_df = df.copy()
test_df.drop(['Survived'], axis=1, inplace=True)
dl = learn.dls.test_dl(test_df)

In [24]:
learn.get_preds(dl=dl)

(tensor([[0.4866, 0.5134],
         [0.4937, 0.5063],
         [0.4887, 0.5113],
         ...,
         [0.5061, 0.4939],
         [0.4994, 0.5006],
         [0.5023, 0.4977]]),
 None)

In [49]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))
to = TabularPandas(df, procs, cat_names, cont_names, y_names='Survived', splits=splits)

TypeError: Categorical cannot perform the operation median

## Set up Data for Test Set

In [ ]:
test_df = pd.read_csv(f"{path}/test.csv")
test_df.head()